﻿<html ng-app="sudokuApp">
<head>
    <title>Sudoku</title>
    <link href="css/Styles.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="angular/SudokuController.js"></script>
</head>
<body bgcolor="#F9F9FF" ng-controller="sudokuCtrl">
    

    <div style="margin-left:25px">
        <h2>Soduku Solver in F#</h2>

        <table style="margin-bottom:10px">
            <tbody>
                <tr>
                    <td valign="top">
                        <table class="sudokumaintable" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr ng-repeat="verticalBand in grid.data">
                                    <td class="sudokumaintd" ng-repeat="horizontalBand in verticalBand">
                                        <table class="sudokublock">
                                            <tbody>
                                                <tr ng-repeat="line in horizontalBand">
                                                    <td ng-repeat="cell in line" class="sudokucell">
                                                        <div class="pen" onclick=""></div>
                                                        <input class="sudokuinput entryCell" maxlength="1" type="text" ng-model="cell.Value" numbers-only="numbers-only">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <button type="button" class="btn btn-primary" ng-click="solve()">Solve!</button>
            <button type="button" class="btn btn-info" ng-click="clear()">Clear!</button>
            <span class="label label-{{statusClass}}" ng-show="displayStatus">{{status}}</span>
            <progress ng-show="processing" />
        </div>
    </div>
</body>
</html>